<section>
  <h1><%= @language.title %></h1>
  <p><%= @language.description %></p>
  <%= link_to 'View documentation', @language.link %>
</section>
  <footer>
  <%= render 'footer', language: @language %>
</footer>